black==22.10.0
cfgv==3.3.1
click==8.1.3
commonmark==0.9.1
-e git+https://github.com/omert11/dijilint.git@2923a8b137656a35c3b6522081bed5dd37de6c80#egg=dijilinter
distlib==0.3.6
filelock==3.8.0
flake8==5.0.4
identify==2.5.7
isort==5.10.1
mccabe==0.7.0
mypy-extensions==0.4.3
nodeenv==1.7.0
pathspec==0.10.1
platformdirs==2.5.2
pre-commit==2.20.0
pycodestyle==2.9.1
pyflakes==2.5.0
Pygments==2.13.0
PyYAML==6.0
rich==12.6.0
toml==0.10.2
tomli==2.0.1
typing_extensions==4.4.0
virtualenv==20.16.6
